.hero-image {
  background-image: url('../assets/images/tfl-insurance.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 525px;
  width: auto;
  margin: 0vw 10vw;
}
