.hero-image {
background-image: url('../assets/images/hulk-age-of-ultron-civil-war.jpeg');
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
height: 525px;
width: auto;
margin: 0vw 10vw;
}
